version: '3.8'
name: foodgram

volumes:
  pg_data:
  static:
  media:

services:
  db:
    image: postgres:15.3-alpine
    env_file: .env
    restart: always
    volumes:
      - pg_data:/var/lib/postgresql/data
  
  backend:
    image: pandenic/foodgram_backend
    env_file: .env
    restart: always
    volumes:
      - static:/app/collected_static
      - media:/app/media/
  
  frontend:
    image: pandenic/foodgram_frontend
    volumes:
      - static:/app/result_build
  
  nginx:
    image: nginx:1.25.0
    ports:
      - 8000:8000
    volumes:
      - ./infra/nginx.conf:/etc/nginx/conf.d/default.conf
      - static:/usr/share/nginx/html/staticfiles/
      - media:/usr/share/nginx/html/media/
    depends_on:
      - frontend
      - backend
