version: '3.8'
name: foodgram

volumes:
  pg_data:
  static:
  media:

services:
  db:
    image: postgres:15.3-alpine
    env_file: .env
    restart: always
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
  
  backend:
    image: pandenic/foodgram_backend
    env_file: .env
    restart: always
    volumes:
      - static:/app/collected_static
      - media:/app/media/
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy

  
  frontend:
    image: pandenic/foodgram_frontend
    volumes:
      - static:/app/result_build
  
  nginx:
    image: nginx:1.25.0
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ../docs/:/usr/share/nginx/html/api/docs/
      - static:/usr/share/nginx/html/staticfiles/
      - media:/usr/share/nginx/html/media/
    depends_on:
      - frontend
      - backend
